/* =============== */
/* === general === */
/* =============== */

body {
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
}

/* ============= */
/* === bomba === */
/* ============= */

/* bomb container / window */
section:first-of-type {
    position: relative;
    width: 100%;
    height: 30em;
    background-color: rgba(31, 11, 97, 0.333);
    overflow: hidden;
    z-index: -2;
}

/* initial flash ---------------- */
article:nth-of-type(1) {
    z-index: 1000;
}

article:nth-of-type(1) div:nth-of-type(1) {
    position: absolute;
    width: 100em;
    height: 100em;
    top: calc(50% - 100em / 2);
    left: calc(50% - 100em / 2);

    border-radius: 100%;
    border: solid white 0.5em;
    opacity: 0;
    z-index: 3;

    background-image: radial-gradient(transparent 30em, white 70em 100em);
}

article:nth-of-type(1) div:nth-of-type(2) {
    position: absolute;
    width: 300em;
    height: 300em;
    top: calc(50% - 300em / 2);
    left: calc(50% - 300em / 2);

    background-color: white;
    border-radius: 100%;
    opacity: 0;
}

@keyframes blast {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }

    80% {
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes white-bg-flash {
    0% {
    }

    20% {
        background-color: #fff;
    }

    100% {
    }
}

/* mushroom cloud ---------------- */

/* mushroom cloud container */
article:nth-of-type(2) {
    position: relative;
    width: 20em;
    height: 20em;
    margin: auto;
    z-index: 0;
    top: -3em;

    opacity: 0;
}

/* general blobs */
:root {
    --n-shaft: 20;
    --n-blob: 30;

    --animation-length: 4s;
}

article:nth-of-type(2) div:nth-of-type(1) {
    --i-blob: 1;
}
article:nth-of-type(2) div:nth-of-type(2) {
    --i-blob: 2;
}
article:nth-of-type(2) div:nth-of-type(3) {
    --i-blob: 3;
}
article:nth-of-type(2) div:nth-of-type(4) {
    --i-blob: 4;
}
article:nth-of-type(2) div:nth-of-type(5) {
    --i-blob: 5;
}
article:nth-of-type(2) div:nth-of-type(6) {
    --i-blob: 6;
}
article:nth-of-type(2) div:nth-of-type(7) {
    --i-blob: 7;
}
article:nth-of-type(2) div:nth-of-type(8) {
    --i-blob: 8;
}
article:nth-of-type(2) div:nth-of-type(9) {
    --i-blob: 9;
}
article:nth-of-type(2) div:nth-of-type(10) {
    --i-blob: 10;
}
article:nth-of-type(2) div:nth-of-type(11) {
    --i-blob: 11;
}
article:nth-of-type(2) div:nth-of-type(12) {
    --i-blob: 12;
}
article:nth-of-type(2) div:nth-of-type(13) {
    --i-blob: 13;
}
article:nth-of-type(2) div:nth-of-type(14) {
    --i-blob: 14;
}
article:nth-of-type(2) div:nth-of-type(15) {
    --i-blob: 15;
}
article:nth-of-type(2) div:nth-of-type(16) {
    --i-blob: 16;
}
article:nth-of-type(2) div:nth-of-type(17) {
    --i-blob: 17;
}
article:nth-of-type(2) div:nth-of-type(18) {
    --i-blob: 18;
}
article:nth-of-type(2) div:nth-of-type(19) {
    --i-blob: 19;
}
article:nth-of-type(2) div:nth-of-type(20) {
    --i-blob: 20;
}
article:nth-of-type(2) div:nth-of-type(21) {
    --i-blob: 21;
}
article:nth-of-type(2) div:nth-of-type(22) {
    --i-blob: 22;
}
article:nth-of-type(2) div:nth-of-type(23) {
    --i-blob: 23;
}
article:nth-of-type(2) div:nth-of-type(24) {
    --i-blob: 24;
}
article:nth-of-type(2) div:nth-of-type(25) {
    --i-blob: 25;
}
article:nth-of-type(2) div:nth-of-type(26) {
    --i-blob: 26;
}
article:nth-of-type(2) div:nth-of-type(27) {
    --i-blob: 27;
}
article:nth-of-type(2) div:nth-of-type(28) {
    --i-blob: 28;
}
article:nth-of-type(2) div:nth-of-type(29) {
    --i-blob: 29;
}
article:nth-of-type(2) div:nth-of-type(30) {
    --i-blob: 30;
}

article:nth-of-type(2) div {
    position: absolute;
    scale: 0;
    width: calc(3.5em * var(--v3) * var(--v1));
    aspect-ratio: 1;
    border-radius: var(--br);
    left: calc(30% * var(--v1) * var(--v2));

    animation: down var(--animation-length) calc(var(--animation-length) * -1 / var(--n-blob) * var(--i-blob)) infinite, scale var(--animation-length) calc(var(--animation-length) * -1 / var(--n-blob) * var(--i-blob)) ease-in-out infinite;
}

article:nth-of-type(2) div:nth-of-type(2n) {
    --v1: 1.8;
    --v2: 0.5;
    --v3: 1.6;
    --br: 47% 53% 31% 69% / 45% 37% 63% 55%;
}

article:nth-of-type(2) div:nth-of-type(3n) {
    --v1: 1.25;
    --v2: 0.43;
    --v3: 1.87;
    --br: 67% 34% 25% 74% / 60% 82% 31% 54%;
}

article:nth-of-type(2) div:nth-of-type(5n) {
    --v1: 1.35;
    --v2: 1.41;
    --v3: 0.42;
    --br: 49% 51% 60% 40% / 50% 53% 47% 50%;
}

article:nth-of-type(2) div:nth-of-type(7n) {
    --v1: 1.75;
    --v2: 1.21;
    --v3: 1.32;
    --br: 49% 51% 60% 40% / 50% 53% 47% 50%;
}

@keyframes down {
    0% {
        top: 1em;
    }

    70% {
        top: 10em;
    }

    100% {
        top: 5em;
    }
}

@keyframes scale {
    0% {
        background-color: rgb(249, 249, 20);
        box-shadow: 0 0 4em rgb(249, 39, 20);
    }

    35% {
        scale: 1.4;
        background-color: rgb(255, 0, 38);
    }

    70% {
        background-color: rgb(51, 56, 75);
    }

    90% {
        scale: 0;
    }

    100% {
        scale: 0;
    }
}

/* shaft ---------------- */
/* shaft container */
article:nth-of-type(3) {
    position: absolute;
    left: calc(50% - 5em / 2);
    bottom: 0;
    width: 5em;
    height: 20em;
    margin: auto;
    z-index: -1;

    opacity: 0;
}

article:nth-of-type(3) div:nth-of-type(1) {
    --i-shaft: 1;
}

article:nth-of-type(3) div:nth-of-type(2) {
    --i-shaft: 2;
}

article:nth-of-type(3) div:nth-of-type(3) {
    --i-shaft: 3;
}

article:nth-of-type(3) div:nth-of-type(4) {
    --i-shaft: 4;
}

article:nth-of-type(3) div:nth-of-type(5) {
    --i-shaft: 5;
}

article:nth-of-type(3) div:nth-of-type(6) {
    --i-shaft: 6;
}

article:nth-of-type(3) div:nth-of-type(7) {
    --i-shaft: 7;
}

article:nth-of-type(3) div:nth-of-type(8) {
    --i-shaft: 8;
}

article:nth-of-type(3) div:nth-of-type(9) {
    --i-shaft: 9;
}

article:nth-of-type(3) div:nth-of-type(10) {
    --i-shaft: 10;
}

article:nth-of-type(3) div:nth-of-type(11) {
    --i-shaft: 11;
}

article:nth-of-type(3) div:nth-of-type(12) {
    --i-shaft: 12;
}

article:nth-of-type(3) div:nth-of-type(13) {
    --i-shaft: 13;
}

article:nth-of-type(3) div:nth-of-type(14) {
    --i-shaft: 14;
}

article:nth-of-type(3) div:nth-of-type(15) {
    --i-shaft: 15;
}

article:nth-of-type(3) div:nth-of-type(16) {
    --i-shaft: 16;
}

article:nth-of-type(3) div:nth-of-type(17) {
    --i-shaft: 17;
}

article:nth-of-type(3) div:nth-of-type(18) {
    --i-shaft: 18;
}

article:nth-of-type(3) div:nth-of-type(19) {
    --i-shaft: 19;
}

article:nth-of-type(3) div:nth-of-type(20) {
    --i-shaft: 20;
}

article:nth-of-type(3) div:nth-of-type(21) {
    --i-shaft: 21;
}

article:nth-of-type(3) div:nth-of-type(22) {
    --i-shaft: 22;
}

article:nth-of-type(3) div:nth-of-type(23) {
    --i-shaft: 23;
}

article:nth-of-type(3) div:nth-of-type(24) {
    --i-shaft: 24;
}

article:nth-of-type(3) div:nth-of-type(25) {
    --i-shaft: 25;
}

article:nth-of-type(3) div:nth-of-type(26) {
    --i-shaft: 26;
}

article:nth-of-type(3) div:nth-of-type(27) {
    --i-shaft: 27;
}

article:nth-of-type(3) div:nth-of-type(28) {
    --i-shaft: 28;
}

article:nth-of-type(3) div:nth-of-type(29) {
    --i-shaft: 29;
}

article:nth-of-type(3) div:nth-of-type(30) {
    --i-shaft: 30;
}

article:nth-of-type(3) div {
    background-color: rgb(50, 53, 64);
    box-shadow: 0 0 5em #fff2;
    position: absolute;
    width: 2em;
    height: calc(8em * var(--v1) * var(--v2));
    border-radius: 10em;
    left: calc(30% / var(--v2) * var(--v3));
    bottom: 0;
    animation: rise var(--animation-length) calc(var(--animation-length) * -1 / var(--n-shaft) * var(--i-shaft)) ease-out infinite;
}

article:nth-of-type(3) div:nth-of-type(2n) {
    --v1: 1.8;
    --v2: 0.5;
    --v3: 1.6;
    background-color: rgb(87, 70, 99);
}

article:nth-of-type(3) div:nth-of-type(3n) {
    --v1: 1.2;
    --v2: 0.6;
    --v3: 1.1;
    background-color: #2c2345;
}

article:nth-of-type(3) div:nth-of-type(5n) {
    --v1: 0.2;
    --v2: 1.7;
    --v3: 1.3;
    background-color: #887da7;
}

article:nth-of-type(3) div:nth-of-type(7n) {
    --v1: 0.6;
    --v2: 1.2;
    --v3: 1.9;
    background-color: rgb(104, 87, 116);
}

@keyframes rise {
    0% {
        scale: 0;
    }

    10% {
        scale: 1;
    }

    90% {
        scale: 1;
    }

    100% {
        bottom: 100%;
        scale: 0;
    }
}

/* ground smoke  ---------------- */

/* smoke ring  ---------------- */

/* has properties */
body:has(fieldset:nth-of-type(3) input:checked) article:nth-of-type(1) div:nth-of-type(2) {
    animation: blast 3s;
}

body:has(fieldset:nth-of-type(3) input:checked) section:nth-of-type(1) {
    /* animation: white-bg-flash 5s; */
    transition-delay: 1s;
    /* background-color: yellow; */
    /* background-image: linear-gradient(rgb(63, 8, 63), rgb(255, 0, 72), rgb(245, 198, 96) 20em); */
}

body:has(fieldset:nth-of-type(3) input:checked) section:nth-of-type(1) article:nth-child(n + 2) {
    transition: 1s;
    transition-delay: 1s;
    opacity: 1;
}

body:has(fieldset:nth-of-type(3) input:checked) fieldset {
    animation: flashimation 3s;
}

@keyframes flashimation {
    0% {
        border-color: rgb(31, 236, 31);
        box-shadow: 0 0 5em black;
    }

    10% {
        color: white;
        border-color: white;
        box-shadow: 0 0 1em white;
    }

    30% {
        color: yellow;
        border-color: yellow;
        box-shadow: 0 0 1em yellow;
    }

    60% {
        color: orange;
        border-color: orange;
        box-shadow: 0 0 1em orange;
    }

    100% {
        border-color: rgb(31, 236, 31);
    }
}

/* hitboxes */
/* article:nth-child(n + 2) {
    background-color: rgba(0, 0, 255, 0.2);
    outline: solid blue;
} */

/* ============================= */
/* === control panel styling === */
/* ============================= */

section:nth-of-type(2) {
    color: rgb(31, 236, 31);
}

legend {
    font-weight: 900;
}

label:hover {
    background-color: rgba(0, 255, 0, 0.3);
}

fieldset {
    background-color: rgb(44, 44, 44);
    border: solid 2px;
    border-radius: 0.3em;
}
